.cm-strong,
.markdown-preview-section strong {
  color: #FFFFFF !important 
}

h1{
       	color:#FFFFFF !important
}

h2{
        color:#FFFFFF !important
}

h3{
        color:#FFFFFF !important
}

h4{
        color:#FFFFFF !important
}

h5{
        color:#FFFFFF !important
}

